.imgContainer{
    width: 50%;
    height: 100%;
}
.imgContainer img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}
.textContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.textContainer h2{
    font-size: 2.5rem;
}
.layout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 75%;
    background: #f3d9c9;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    border: 1px solid gray;
    border-radius: 1rem;
}
@media only screen and (max-width: 599px) {
    .imgContainer img{
        width: 8rem;
        height: 8rem;
    }
    .textContainer{
        gap: 1rem;
    }
    .textContainer h2{
        font-size: 1.2rem;
    }
    .textContainer p{
        font-size: 0.6rem;
    }
    .layout{
        width: 100%;
    }
}

/* For tablets */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  /* Your tablet-specific CSS styles go here */
}

/* For desktops */
@media only screen and (min-width: 992px) {
  /* Your desktop-specific CSS styles go here */
}