/* .backgroundImg{
    position: relative;
    height: 100vh;
    background-image: url("../../assets/images/homeBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
    text-align: center;
} */
.Containter{
    width: 100%;
}
.videoBackground {
    position: relative;
    width: 100%;
    height: 93vh;
    overflow: hidden;
}
  
.videoBackground video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.content {
    height: 90%;
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.content h1{
    font-size: 3rem;
}
.content button{
    width: 10rem;
    padding: 0.5rem ;
    border-radius: 0.5rem;
    border: none;
}
.myLink{
    text-decoration: none;
    color: black;
}
.myLink:hover{
    font-weight: 600;
}
/* For mobile devices */
@media only screen and (max-width: 599px) {
    .content{
        gap: 2rem;
    }
    .content h1{
        font-size: 2rem;
    }
  }
  
  /* For tablets */
  @media only screen and (min-width: 600px) and (max-width: 991px) {
    /* Your tablet-specific CSS styles go here */
  }
  
  /* For desktops */
  @media only screen and (min-width: 992px) {
    /* Your desktop-specific CSS styles go here */
  }