.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h2{
    margin-top: 1rem;
}

.hero img{
   width: 65%;
   height: 70vh;
}
.popular{
    text-align: center;
    margin: 4rem 0 5rem;
}
.mySwiper{
    width: 60%;
    height: 65vh;
    margin-top: 2rem;
}
.swiperSlide{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9b0b5; 
}