
.popular{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}.mySwiper{
    width: 70%;
    height: 65vh;
}
.swiperSlide{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 599px) {
    .mySwiper{
        width: 90%;
        height: 35vh;
    }
}

/* For tablets */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  /* Your tablet-specific CSS styles go here */
}

/* For desktops */
@media only screen and (min-width: 992px) {
  /* Your desktop-specific CSS styles go here */
}