
.formContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer form{
    width: 50%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border: 1px solid gray;
}
.formContainer form input{
    width: 50%;
    height: 2rem;
    padding: 1rem;
}
.formContainer form textarea{
    padding: 1rem;
    width: 50%;
    height: 5rem;
}
.formContainer form button{
    width: 50%;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #f3d9c9;
}
.formContainer form button:hover{
    font-weight: 700;
}
@media only screen and (max-width: 599px) {
    .formContainer form{
        width: 90%;
    }
    .formContainer form input{
        width: 80%;
    }
    .formContainer form textarea{
        width: 80%; 
    }
}


/* For tablets */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  /* Your tablet-specific CSS styles go here */
}

/* For desktops */
@media only screen and (min-width: 992px) {
  /* Your desktop-specific CSS styles go here */
}