.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
.content {
    flex: 1; 
}

header{
  background-color: #e2a47e;
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  align-items: center;
  color: black;
  height: 10vh;
  padding: 1rem;
}
header h1{
  padding: 5rem;
}
nav{
  display: flex;
  gap: 1rem;
  padding: 5rem;
}
nav a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.active{
  text-decoration: underline;
}
footer {
    background-color: #e2a47e;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}