/* Add these styles to your CSS */
.sidebar {
    right: 0;
    width: 87%;
    height: 20%;
    background-color: #fff;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    margin: 1.5rem 0 0.5rem;
    display: flex;
    justify-content: flex-end;
}
  
.closeBtn {
  cursor: pointer;
  border: none;
  background-color: #d9b0b5;
}
.sidebarContainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.sidebarContainer button{
  min-width: 7rem;
  padding: 0.5rem;
  border: 1px solid #d9b0b5;
  background-color: white;
  border-radius: 5rem;
  cursor: pointer;
}
.sidebarContainer button:hover{
  background-color: #d9b0b5;
  font-weight: 600;
}
.sidebarContainer input{
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: 1px solid #d9b0b5;
}
.sortContainer {
  display: flex;
}
.sortContainer button:last-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sortContainer button:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}